.container{
    width: 100%;
    /* height: 85vh; */
    padding-top: 18px;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}
.container .title{
    padding: 12px;
}
.container .title .line{
    width: 100px;
    height: 3px;
    border-radius: 50px;
    background-color: #287562;
    
}
.container .card{
    margin: 30px 12px;
    max-height: 50%;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
}
.container .card::-webkit-scrollbar {
    display: none;
}
.container .card .cardItem{
    /* height: 50px; */
    max-height: 65px;
    margin: 15px 5px;
    display: flex;
    align-items: center;
}
.container .card .cardItem .imgItem{
    object-fit: cover;
    border-radius: 5px;
    
}


.container .card .cardItem .description{
    margin: 0 50px 0 20px;
    width: 150px;
}

.container .card .cardItem .description .title{
    font-weight: 700;
}


.container .card .cardItem .description .utils{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.container .card .cardItem .description .utils p{
    font-size: 11px;
}

.container .card .cardItem .description .utils .bold{
    font-weight: 900;
}

.container .card .cardItem .size{
    margin-right: 80px;
}
.container .card .cardItem .size button{
    padding: 4px;
    margin: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #D0DFD2;
    color: #287562;
    border: 0.3px solid #89928A;
    font-size: 9px;
    transition: all 0.3s;
}

.container .card .cardItem .delete button{
    border: none;
    border-radius: 5px;
    padding: 7px 12px;
    background-color: #F07C7C;
    color: white;
}

.container .total{
    display: flex;
    padding: 12px;
}

.container .total .note {
    background-color: #F8F8F8;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.08);
    padding: 10px 15px;
}
.container .total .totalBill{
    margin-left: 12px;
    width: 100%;
}
.container .total .totalBill table{
    font-size: 12px;
    width: 100%;
}
.container .total .totalBill table tr td{
    padding-bottom: 15px;
}

.container .total .totalBill table tr td.italic{
    font-style: italic;
}
.container .total .totalBill table tr td.bold{
    font-weight: 800;
    text-align: end;
}

.container .total .totalBill .line{
    width: 100%;
    height: 3px;
    background-color: #07BFAF;
    margin-bottom: 15px;
}

.container .payment{
    display: flex;
    align-items: center;
    padding: 12px;
}

.container .payment h4{
    margin-right: 16px;
}

.container .payment .paymentItem{
    margin: 6px;
    width: 80px;
    height: 56px;
    border-radius: 15px;
    background-color: #D0DFD2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .payment .paymentItemActive{
    margin: 6px;
    width: 80px;
    height: 56px;
    border-radius: 15px;
    background-color: #287562;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .payment .paymentItem span{
     margin-top: 3px;
    font-size: 9px;
    color: #287562;
}
.container .payment .paymentItemActive span{
    margin-top: 3px;
    font-size: 9px;
    color: #D0DFD2;
}

.container .action{
    width: 100%;
    padding: 12px;
    text-align: end;
}

.container .action button{
    margin-bottom: 30px;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 15px;
    background-color: #07BFAF;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    /* padding: 8px 95px; */
}