.header {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  height: 60px;
  align-items: center;
  background-color: #4B766F;
  color: white;
}

.nav_menu{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav_menu .nav_item {
  margin: 0 15px;
}

.container{
  display: flex;
}

.sectionA {
  width: 70%;
}
.sectionB{
  width: 30%;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  color: rgb(153, 153, 153);
}

.container{
  /* display: flex; */
  padding: 20px 50px;
}